
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open-sans', sans-serif;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
} */



:focus{
    outline: none;
}

.containers{
    margin: 4rem 6rem;
    max-width: 100%;
}


/* ------------------admin-title------------------ */

.admin-title{
    font-family: 'Oswald', sans-serif;
    margin-top: 100px !important;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.red{
    color: #69ae14;
}


/* ------------input------------------ */
.width{
    width: 80%;
   margin: 4rem auto;
   display: flex;
   justify-content: center;
}

form{
    width: 80%;
}

/* img{
    width: 30rem;
    height: 30rem;
    margin: auto 5rem;
} */


.two{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
    color: black;
}

input{
    border: none;
    background-color: white;
    border-bottom: 2px solid black;
    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    font-size: 1.5rem;
}

.drop{
    margin-top: 1rem;
    height: 4rem;
    font-size: 1.5rem;
    color: black;
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}



/* -------------button--------------- */


.button{
    justify-content: center;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    margin-left: 2rem;
    margin-top: 3rem;
    cursor: pointer;
    color: #fff;
    background-color: #69ae14;
    border: #69ae14 3px solid;
    border-radius: 4rem;
    transition: ease-in 0.35s;
}

button:hover{
    color: #69ae14;
    border: #69ae14 3px solid;
    background-color: #fff;
    transform: translateY(-0.5rem);
}